/******************************************************************
Site Name: BitTorrent Blog 2.0
Author: Dan Brown

Stylesheet: Featured Post Section

******************************************************************/
// below ie9
.no-svg {
	#featured-top {
		display: none;
	}
	.featured-mid {
		display: none;
	}
	.divider {
		display: none;
	}
}

#featured-posts {
	display: none;
	@media (min-width: @screen-md-min) {
		display: block;
	}

}

// Big-ass photo on front page (featured-main)

#featured-top {
	display: none;
	@media (min-width: @screen-sm-min) {
		display: block;	
	}
	@media (min-width: @screen-md-min) {
		margin-bottom: 10px;	
	}
}
.featured {
	padding: 0 !important;
	background-size: cover !important;
	background-position: center center;
	display: inline-block;
	&.gap {
		margin-left: 2px;
		@media (min-width: @screen-md) {
			margin-left: 0;
			margin-top: 2px;
		}
	}
	.title {
		text-align: left;
		color: #fff;
		width: 85%;
		h2 {
			font-weight: 300;
			font-size: 42px;
			margin: 0;
		}
	}
	&.first .title {
		padding: 30px 30px 0;
	}
	&.second .title {
		padding: 30px;
		h4 {
			margin: 0;
		}
	}
	.title-background {
		background-color: rgba(0, 0, 0, 0.5);
		height: 100%;
		.transition(background-color .3s ease);
		&:hover {
			background-color: rgba(0, 0, 0, .6);
		}
	}
}

.featured-mid {
	padding-bottom: 30px;
	text-align: center;
	hr {
		border-top: 1px solid @bt-gray-light;
		margin-top: 10px;
		margin-bottom: @grid-gutter-width*3;
	}
	@media (min-width: @screen-md) {
		text-align: left;	
	}
}

// The Big-ass photo on index
.first {
	height: 382px;
	width: 100%;
	margin-bottom: 2px;
	@media (min-width: @screen-md) {
		margin-bottom: 0px;	
	}
}


// The smaller featured photo size (used up top and mid)
.second{
	height: 190px;
	width: 360px;
	@media (min-width: @screen-sm) {
		margin-bottom: 10px;	
	}
	@media (min-width: @screen-md) {
		width: 100%;	
		margin-bottom: 0;
	}
}

// The shorter featured photo size used on second row of mid section on index
.third {
	height: 190px;
	width: 100%;
	.title {
		padding: 30px;
		h4 {
			margin: 0;
		}

	}
}



.title {
	a {
	text-decoration: none;
	color: #FFF;
	}

}

#featured-top, .featured-mid {
	.row {
		margin-left: -2px;
		margin-right: -2px;
	}
	.col-md-6, .col-md-4, .col-md-8 {
		padding-left: 1px;
		padding-right: 1px;
	}
}

#featured-top.row {
	margin-left: -2px;
	margin-right: -2px;
}

// box after top featured photos
.latest-div {
	height: 30px;
	background-color: @bt-gray-lighter;
	margin-bottom: @grid-gutter-width;
	color: #fff;
	line-height: 30px;
	text-align: center;
}

// "Read more about" header above mid featured section
.divider {
  margin: 10px 0 0;
  overflow: hidden;
  position: relative;
  max-width: 100%;
  text-align: center;
  @media (min-width: @screen-md-min) {
  	margin: 30px 0 0;
  }
}

.line-left {
  background: none repeat scroll 0 0 @bt-gray-light;
  height: 1px;
  left: 20px;
  position: absolute;
  top: 25px;
  width: 50%;
  z-index: -1;
  @media (min-width: @screen-sm-min) {
  	left: 0;	
  }
}
.line-right {
  background: none repeat scroll 0 0 @bt-gray-light;
  height: 1px;
  right: 20px;
  position: absolute;
  top: 25px;
  width: 50%;
  z-index: -1;
  @media (min-width: @screen-sm-min) {
  	right: 0;	
  }
}

.divider .mid {
  color: @bt-gray-light;
  background: #e6e6e6;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  line-height: 50px;
  width: auto;
  z-index: 9999;
  padding: 0 10px;
}

